/*************************************
    HEADER
*************************************/

.header {
   margin-top: 100px;
   position: relative;
   display: grid;
   justify-items: center;
}

.header h1 {
   font-family: 'Bebas Neue', cursive;
   font-size: 3rem;
   animation: fadein 2s;
}

.header img {
   width: 100%;
}

.header .main-title {
   position: absolute;
   bottom: 1rem;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 5px;
   padding: 1rem;
}

/*************************************
    MAIN
*************************************/

.main {
   margin-top: 1rem;
   margin-bottom: 60px;
   padding: 0 2rem;
   display: grid;
   gap: 2rem;
   min-width: 300px;
}

.main > .section-title {
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 5px;
   padding: 0.5rem 1rem;
   width: 100%;
   text-align: center;
}

.main > .filters-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: nowrap;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 5px;
   padding: 0.5rem 1rem;
   width: 100%;
   text-align: center;
}

#searcher {
   background-color: whitesmoke;
   height: 1.6rem;
   width: 80%;
}

#back-button {
   padding: 5px 5px;
   border: 0;
   border-radius: 5px;
   background-color: #393e46;
   color: #00adb5;

   font-size: 1rem;
}

#back-button:hover {
   background-color: #00adb5;
   color: #393e46;
}

.main > .section-container {
   display: grid;
   grid-template-columns: 1fr;
   /* grid-template-rows: 10vh; */
   grid-template-areas:
      'item1'
      'item2'
      'item3'
      'item4'
      'item5'
      'item6';
   justify-content: space-around;
   justify-items: center;
   align-items: initial;
   gap: 0.5rem;
}

.section-container > .item {
   position: relative;
   margin-bottom: 1rem;
}

.section-container > .item .description {
   padding: 0.5rem 1rem;
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
   height: 100%;
   text-align: center;
}

.section-container > .item .description a {
   text-decoration: none;
   color: #1d1d1f;
}

.section-container > .item > .description .details .summary a:hover {
   color: grey;
}

.section-container > .item .description > .info {
   margin: 0.5rem 0;
}

.section-container > .item .description > .info::after {
   content: '';
   display: block;
   clear: both;
}

.section-container > .item .details {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

.section-container > .item .details .image {
   flex-basis: 20%;
}

.section-container > .item .details .summary {
   flex-basis: 80%;
}

.section-container > .item .details .image img {
   height: 100px;
}

.section-container > .item1 {
   grid-area: item1;
}
.section-container > .item2 {
   grid-area: item2;
}
.section-container > .item3 {
   grid-area: item3;
}
.section-container > .item4 {
   grid-area: item4;
}
.section-container > .item5 {
   grid-area: item5;
}
.section-container > .item6 {
   grid-area: item6;
}

.beer-detail {
   padding: 0.5rem 1rem;
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
   height: 100%;
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-areas:
      'title title'
      'image data'
      'tips tips'
      'description description';
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   gap: 1rem;
}

.beer-detail .title {
   grid-area: title;
}

.beer-detail .image {
   width: 80%;
   grid-area: image;
   place-self: center;
}

.beer-detail .image img {
   height: 200px;
}

.beer-detail .data {
   grid-area: data;
}

.beer-detail .tips {
   grid-area: tips;
}

.beer-detail .description {
   grid-area: description;
}

/*************************************
    MEDIA QUERIES
*************************************/

@media all and (min-width: 480px) {
}

@media all and (min-width: 768px) {
   .main > .section-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
         'item1 item2'
         'item3 item4'
         'item5 item6';
   }

   .beer-detail {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
         'title title'
         'image data'
         'image tips'
         'image description';
   }
}

@media all and (min-width: 992px) {
   .main > .section-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
         'item1 item2 item3'
         'item4 item5 item6';
   }
}

@media all and (min-width: 1200px) {
}
