.navbar {
   position: fixed;
   top: 0;
   z-index: 9999;
   width: 100%;
   background-color: #1d1d1f;
   display: flex;
   justify-content: space-between;
   height: 80px;
   border-bottom: 1px solid #00adb5;
}

.navbar > .logo {
   padding: 0.5rem 1rem;
   flex-basis: 30%;
}

.navbar > .logo > a > span {
   color: yellowgreen;
}

.navbar > .signin {
   display: flex;
   align-items: center;
   flex-basis: 30%;
   justify-content: center;
}

.navbar > .signin > .register-btn {
   padding: 5px 5px;
   border: 0;
   border-radius: 5px;
   background-color: #00adb5;
   color: #393e46;
   font-size: 1rem;
}

.navbar > .signin > .register-btn:hover {
   background-color: #393e46;
   color: #00adb5;
}

@media all and (min-width: 480px) {
   .navbar > .logo {
      flex-basis: 20%;
   }

   .navbar > .signin {
      flex-basis: 20%;
   }
}

@media all and (min-width: 768px) {
   .navbar > .logo {
      flex-basis: 15%;
   }

   .navbar > .signin {
      flex-basis: 15%;
   }
}

@media all and (min-width: 992px) {
   .navbar > .logo {
      flex-basis: 10%;
   }

   .navbar > .signin {
      flex-basis: 10%;
   }
}

@media all and (min-width: 1200px) {
}
